<section id="event" class="section-event">
	<div class="row container">
		<header class="col s12 center">
			<h2 class="title-header white-text">GDG Braga Events</h2>
		</header>
		<div class="col s12">
			<p class="text white-text">Follow all our events, you just have to check our official calendar.</p>
			<div class="center">
				<a href="https://developers.google.com/groups/chapter/108643552146544275886/" class="blue-effect waves-light btn-large" target="_blank">Complete event calendar</a>
			</div>
		</div>
	</div>
</section>
