<section id="team" class="section-team">
	<div class="row container">
		<header class="col s12 center">
			<h2 class="center title-header white-text">GDG Braga Team</h2>
		</header>
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="/assets/img/team/joaofonseca.jpg" alt="João Fonseca">
				</div>
				<div class="card-team">
					<span class="card-title">João Fonseca</span>
					<p class="black-text">Foobar foobiz</p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/107486523874700142530">
						<svg class="icon" aria-label="Perfil de João Fonseca no Google Plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					</a>
					<a href="https://github.com/joaopaulofonseca">
						<svg class="icon" aria-label="Perfil de João Fonseca no github">
							<use xlink:href="#icon-github-alt"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>

		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="/assets/img/team/joaofonseca.jpg" alt="Francisco Costa">
				</div>
				<div class="card-team">
					<span class="card-title">Francisco Costa</span>
					<p class="black-text">Foobar foobiz</p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/107486523874700142530">
						<svg class="icon" aria-label="Perfil de Francisco Costa no Google Plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					</a>
					<a href="https://github.com/joaopaulofonseca">
						<svg class="icon" aria-label="Perfil de Francisco Costa no github">
							<use xlink:href="#icon-github-alt"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
