<section id="team" class="section-team">
	<div class="row container">
		<header class="col s12 center">
			<h2 class="center title-header white-text">Equipa GDG Porto</h2>
		</header>
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="/assets/img/team/andre_silva.jpg" alt="André Silva">
				</div>
				<div class="card-team">
					<span class="card-title">André Silva</span>
					<p class="black-text">WebRTC and Web evangelist. Loves cinema and trips that start at the airport.</p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/108149312466048440019">
						<svg class="icon" aria-label="Perfil de André Silva no Google Plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					<a href="https://twitter.com/andre_mr_silva">
						<svg class="icon" aria-label="Perfil de André Silva no twitter">
							<use xlink:href="#icon-twitter"></use>
						</svg>
					</a>
					<a href="https://github.com/andremrsilva">
						<svg class="icon" aria-label="Perfil de Marcus Silva no github">
							<use xlink:href="#icon-github-alt"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>

		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="/assets/img/team/raimundo.jpg" alt=" ">
				</div>
				<div class="card-team">
					<span class="card-title">João Raimundo</span>
					<p class="black-text">Android developer</p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/+JoãoRaimundo">
						<svg class="icon" aria-label="Perfi de João Raimundo no google plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>

		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="/assets/img/team/vicente.png" alt=" ">
				</div>
				<div class="card-team">
					<span class="card-title">Pedro Vicente</span>
					<p class="black-text">Dreamer, Husband, Father & Android Developer when not occupied by the first three/p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/+PedroVicenteNeTeInStEiN">
						<svg class="icon" aria-label="Perfi de Pedro Vicente no google plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					</a>
					<a href="https://twitter.com/neteinstein">
						<svg class="icon" aria-label="Perfi de Pedro Vicente no twitter">
							<use xlink:href="#icon-twitter"></use>
						</svg>
					</a>
					<a href="https://github.com/neteinstein">
						<svg class="icon" aria-label="Perfi de Pedro Vicente no github">
							<use xlink:href="#icon-github-alt"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>

		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="/assets/img/team/renato.jpg" alt=" ">
				</div>
				<div class="card-team">
					<span class="card-title">Renato Almeida</span>
					<p class="black-text">Really a big developer, 2 meters tall. Droid tamer on a daily basis.</p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/u/0/+RenatoAlmeida">
						<svg class="icon" aria-label="Perfi de Renato Almeida no google plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					</a>
					<a href="https://twitter.com/tallnato">
						<svg class="icon" aria-label="Perfi de Renato Almeida no twitter">
							<use xlink:href="#icon-twitter"></use>
						</svg>
					</a>
					<a href="https://github.com/tallnato">
						<svg class="icon" aria-label="Perfi de Renato Almeida no github">
							<use xlink:href="#icon-github-alt"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>