<section id="work" class="section-work">
    <div class="row container">
		<div class="col s12 center">
			<h2 class="title-header white-text">Iniciativas GDG Porto</h2>
		</div>

		<div class="col s12">
			<p class="text white-text"> Para ajudar a fortalecer a nossa comunidade de <i>developers</i> portuenses, criamos iniciativas bem importantes, conheça quais são: </p>
		</div>

		<div class="row">
            <div class="col s12 m6 l4">
                <div class="card black-text">
                    <div class="card-content">
                        <span class="card-title black-text center" lang="en">Google DevFest</span>

                        <p class="card-text">Grande conferência anual onde convidamos oradores nacionais e internacionais. Espaço de discussão e partilha de tecnologia Google. O evento tem pelo menos um dia de duração mais de 100 participantes e vai ao encontro da DevFest Seasson organizada pela Google.</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card black-text">
                    <div class="card-content">
                        <span class="card-title black-text" lang="en">Software Craftsmanship Sessions</span>

                        <p class="card-text">...</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card black-text">
                    <div class="card-content">
                        <span class="card-title black-text" lang="en">Google Hashcode</span>

                        <p class="card-text">Google Hashcode é um concurso mundial de programação, onde as pessoas têm a oportunidade de se debaterem com problemas reais de programação e ganhar grande prémios. </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card black-text">
                    <div class="card-content">
                        <span class="card-title black-text" lang="en">Google Roadshow</span>

                        <p class="card-text"><i>Googlers</i> percorrem Portugal a darem palestras e codelabs sobre Progressive Web Apps, Firebase e Android.</p>
                    </div>
                </div>
            </div>
        </div>
  	</div>
</section>
