<section id="wtm" class="section-wtm">
  <div class="row container">
    <header class="col s12 center">
      <img src="/assets/img/wtm.png" alt="Women Techmakers">
      <h2 class="title-header white-text">Women Techmakers</h2>
    </header>

    <div class="col s12">
      <p class="text white-text">Google's Women Techmakers program provides visibility, community, and resources for women in technology.</p>
      <p class="text white-text">From 2014 to present, Women Techmakers is continually launching global scalable initiatives and piloting new programs to support and empower women in the industry</p>
    </div>
  </div>
</section>
