<section id="wtm" class="section-wtm">
  <div class="row container">
    <header class="col s12 center">
      <img src="/assets/img/wtm.png" alt="Women Techmakers">
      <h2 class="title-header white-text">Women Techmakers</h2>
    </header>

    <div class="col s12">
      <p class="text white-text">O Women Techmakers (WTM) é um programa criado pela Google cujo objetivo é incentivar a participação das mulheres na tecnologia.</p>
      <p class="text white-text">O WTM é uma comunidade dentro do GDG para incentivar mulheres na área de tecnologia. O WTM Porto vem trabalhado junto com o GDG Porto para incluir mais mulheres nos eventos, seja como participante, seja como orador.</p>
      <p class="text white-text">Quer participar dos nossos eventos? Siga nossos canais ou entre em contato com nossa leader WTM Salvador @marladore ou um dos demais organizadores do GDG SSA.</p>
    </div>
  </div>
</section>
